<h1> {{title}} </h1>

<h2>Users over 20 years old:</h2>
<ul>
  <li *ngFor="let user of users" *ngIf="user.age > 20">
    {{ user.firstname }} {{ user.lastname }} - Age: {{ user.age }}
  </li>
</ul>

<app-user [users]="users"></app-user>
<app-user (childUsersEmitter)="onReceiveChildUsers($event)"></app-user>
  
<h1>Array from child component</h1>
<ul>
  <li *ngFor="let user of receivedChildUsers">
    {{ user.Firstname }} {{ user.Lastname }} - {{ user.Email }}
  </li>
</ul>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  
<div class="container mt-5">
  <h2>Add New User</h2>
  <form [formGroup]="userForm" (ngSubmit)="addUser()" novalidate>
    <div class="form-group">
      <label for="Id">ID</label>
      <input type="number" id="Id" formControlName="Id" class="form-control" [ngClass]="{ 'is-invalid': userForm.get('Id')?.invalid && userForm.get('Id')?.touched }">
      <div *ngIf="userForm.get('Id')?.invalid && userForm.get('Id')?.touched" class="invalid-feedback">
        Please Write ID! .
      </div>
    </div>

    <div class="form-group">
      <label for="Firstname">Firstname</label>
      <input type="text" id="Firstname" formControlName="Firstname" class="form-control" [ngClass]="{ 'is-invalid': userForm.get('Firstname')?.invalid && userForm.get('Firstname')?.touched }">
      <div *ngIf="userForm.get('Firstname')?.invalid && userForm.get('Firstname')?.touched" class="invalid-feedback">
        Firstname is required and must be at least 3 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="Lastname">Lastname</label>
      <input type="text" id="Lastname" formControlName="Lastname" class="form-control" [ngClass]="{ 'is-invalid': userForm.get('Lastname')?.invalid && userForm.get('Lastname')?.touched }">
      <div *ngIf="userForm.get('Lastname')?.invalid && userForm.get('Lastname')?.touched" class="invalid-feedback">
        Lastname is required and must be at least 3 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="DateOfBirth">Date of Birth</label>
      <input type="date" id="DateOfBirth" formControlName="DateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': userForm.get('DateOfBirth')?.invalid && userForm.get('DateOfBirth')?.touched }">
      <div *ngIf="userForm.get('DateOfBirth')?.invalid && userForm.get('DateOfBirth')?.touched" class="invalid-feedback">
        Please Write Date of Birth!
      </div>
    </div>

    <div class="form-group">
      <label for="PhoneNumber">Phone Number</label>
      <input type="text" id="PhoneNumber" formControlName="PhoneNumber" class="form-control" [ngClass]="{ 'is-invalid': userForm.get('PhoneNumber')?.invalid && userForm.get('PhoneNumber')?.touched }">
      <div *ngIf="userForm.get('PhoneNumber')?.invalid && userForm.get('PhoneNumber')?.touched" class="invalid-feedback">
        Phone number is required and must be at least 9 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="Email">Email</label>
      <input type="email" id="Email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': userForm.get('Email')?.invalid && userForm.get('Email')?.touched }">
      <div *ngIf="userForm.get('Email')?.invalid && userForm.get('Email')?.touched" class="invalid-feedback">
        Email is required and must be at least 8 characters.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Add User</button>
  </form>

  <h3 class="mt-4">Users List</h3>
  <ul class="list-group">
    <li *ngFor="let user of users" class="list-group-item">
      {{ user.Firstname }} {{ user.Lastname }} - {{ user.Email }}
    </li>
  </ul>
</div>
